extends layout

block content
  div.container
    table.table.table-striped.table-hover
      thead
        th
          p stock
        th
          p last
      tbody
        - for stock in stocks
          tr
            td
              p= stock.symbol
            td
              p= stock.lastTradePriceOnly